
/* Form Container */
.login-form-container {
  background-color: white;
  padding: 2rem; /* Adjusted for better spacing */
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem;
}

/* Title */
.login-form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Labels */
.login-form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151; /* gray-700 */
}

/* Inputs */
.login-form-input {
  display: block;
  width: 90%;
  padding: 0.625rem 0.75rem;
  margin-top: 0.25rem;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB; /* gray-300 */
  margin-bottom: 0.5rem;
}

/* Error Text */
.login-form-error {
  color: #EF4444; /* red-500 */
  font-size: 0.875rem;
  margin-top: -0.25rem;
  margin-bottom: 0.75rem;
}

/* Button */
.login-form-button {
  background-color: #2563EB; /* blue-600 */
  color: white;
  padding: 0.625rem 1rem;
  width: 40%;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
  margin-left: 100px;
}

.login-form-button:hover {
  background-color: #1D4ED8; 
}



.login-form-footer {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.login-form-link {
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}
